<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
    shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../../../favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Projecy Detail</title>
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/blog.css" />
    <link rel="stylesheet" href="../assets/css/blog2.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body>
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
        <div class="container-fluid">
          <img
            src="https://dumbways.id/assets/images/brandred.png"
            class="navbar-brand navbar-logo"
          />
          <button
            class="navbar-toggler text-dark"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"><i
                style="padding-top: 5px"
                class="fa fa-bars"
                aria-hidden="true"
              ></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link text-dark poppins-regular" href="/">Home
                  <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              {{#if user}}
                <li class="nav-item">
                  <p
                    class="nav-link text-dark poppins-regular mt-2"
                    href="/testimonial"
                  >Welcome back!, <strong>{{user.name}}</strong></p>
                </li>
                <li class="nav-item m-2">
                  <a
                    href="/logout"
                    class="btn btn-danger poppins-regular p-2"
                  >Logout</a>

                </li>
              {{else}}
                <li class="nav-item m-2">
                  <a
                    href="/register"
                    class="btn btn-dark poppins-regular p-2"
                  >Register</a>

                </li>
                <li class="nav-item m-2">
                  <a
                    href="/login"
                    class="btn btn-dark poppins-regular p-2"
                  >Login</a>
                </li>

              {{/if}}
              <li class="nav-item m-2">
                <a
                  class="btn btn-dark poppins-regular"
                  href="/contact"
                  style="padding: 10px"
                >
                  Contact Me
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>
    </header>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol
        id="aperture"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <circle cx="12" cy="12" r="10" />
        <path
          d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
        />
      </symbol>
      <symbol id="cart" viewBox="0 0 16 16">
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </symbol>
      <symbol id="chevron-right" viewBox="0 0 16 16">
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </symbol>
    </svg>

    <div class="container">
      <div class="jumbotron p-3 p-md-5 text-white rounded"></div>

       <div class="container">
        <div class="jumbotron p-3 p-md-5 text-white rounded"></div>

          
        {{#if messages.error}}
          <div class="alert alert-danger" role="alert">
            {{messages.error}}
          </div>
        {{/if}}
        {{#if messages.success}}
          <div class="alert alert-success" role="alert">
            {{messages.success}}
          </div>
        {{/if}}
      </div>

      <div class="d-flex justify-content-start">
        <div class="p-2">
          <a
          {{!-- href="/edit-project/{{id}}" --}}
          class="btn btn-dark mx-2"
        ><i class="fa-solid fa-chevron-left"></i></a>

        </div>
           {{!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> --}}
            <div class="p-2">

              <div class="card ">
                <div class="card-body">
                  <p class="card-text poppins-bold">
                    <strong>{{collection.name}}</strong>
                  </p>

                </div>
              </div>
            </div>
          {{!-- </div> --}}
      </div>

        <form method="post" action="/add-task">
            <div class="d-flex justify-content-between">
              <input
                  class="form-control w-100 d-none"
                  placeholder="Enter task name"
                  name="collections_id"
                  value="{{collection.id}}"
                />
              <div class="form-group" 
                  style="width: 75rem;" >
                <input
                  class="form-control w-100"
                  placeholder="Enter task name"
                  name="taskName"
                  required
                />
              </div>
              <div >
                <button type="submit" class="btn btn-dark w-100">Add</button>
              </div>
            </div>
          </form>

      
        <div class="row">
        <h1 class="poppins-bold">Task</h1>
        {{#each data}}
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="p-2">

              <div class="card w-100">
                <div class="card-body d-flex justify-content-between">
                  
                <div class="p-2">
                    <h3
                    class="card-text poppins-regular"
                  >
                    {{name}}
                  </h3>
                </div>
                 <div class="p-2">
                    <input type="checkbox" id="is_done" name="is_done" 
                    {{#if is_done}}
                    checked {{/if}} !checked
                  value="is_done" />
                    <label for="is_done">Is Done</label>
                 </div>

                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal
                    title</h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Are you sure want to delete
                  {{name}}??
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >Close</button>
                  <a
                    href="/delete-project/{{id}}/imageId/{{imageId}}"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="/delete-project/{{id}}/imageId/{{imageId}}"
                  >Delete Post</a>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

    </div>

    <main class="container my-5">

      <div class="row g-5">
        <div class="col-md-12">

          <article class="blog-post poppins-regular">

            <p> {{data.description}}</p>
          </article>

        </div>

      </div>

    </main>

    <script src="assets/js/project-detail.js"></script>
    <script>
      function updateImage() { // Get the value from the input field var
      imageUrl = document.getElementById('imageURL').value; // Set the image URL
      document.getElementById('previewImage').src = imageUrl; }
      document.addEventListener('DOMContentLoaded', function () { updateImage()
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>