<html>

  <head>
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

  </head>

  <body>
    {{!-- <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
        <div class="container-fluid">
          <img
            src="https://dumbways.id/assets/images/brandred.png"
            class="navbar-brand navbar-logo"
          />
          <button
            class="navbar-toggler text-dark"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"><i
                style="padding-top: 5px"
                class="fa fa-bars"
                aria-hidden="true"
              ></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <a class="nav-link text-dark poppins-bold" href="/">Home
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-dark poppins-regular"
                  href="/project"
                >Add Project</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-dark poppins-regular"
                  href="/testimonial"
                >Testimonial</a>
              </li>
            </ul>
            <div>
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {{#if user}}
                  <li class="nav-item">
                    <p
                      class="nav-link text-dark poppins-regular mt-2"
                      href="/testimonial"
                    >Welcome back!, <strong>{{user.name}}</strong></p>
                  </li>
                  <li class="nav-item m-2">
                    <a
                      href="/logout"
                      class="btn btn-danger poppins-regular p-2"
                    >Logout</a>

                  </li>
                {{else}}
                  <li class="nav-item m-2">
                    <a
                      href="/register"
                      class="btn btn-dark poppins-regular p-2"
                    >Register</a>

                  </li>
                  <li class="nav-item m-2">
                    <a
                      href="/login"
                      class="btn btn-dark poppins-regular p-2"
                    >Login</a>
                  </li>

                {{/if}}
                <li class="nav-item m-2">
                  <a
                    class="btn btn-dark poppins-regular"
                    href="/contact"
                    style="padding: 10px"
                  >
                    Contact Me
                  </a>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </nav>
    </header> --}}

    <section class="vh-100">
      <div class="container-fluid h-custom">
        {{#if messages.error}}
          <div class="alert alert-danger" role="alert">
            {{messages.error}}
          </div>
        {{/if}}
        {{#if messages.success}}
          <div class="alert alert-success" role="alert">
            {{messages.success}}
          </div>
        {{/if}}
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form action="/login" method="POST">
              <div
                class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
              >
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              </div>

              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
              </div>

              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="email"
                  id="email"
                  class="form-control form-control-lg"
                  name="email"
                  placeholder="Enter a valid email address"
                />
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-3">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control form-control-lg"
                  placeholder="Enter password"
                />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button
                  type="submit"
                  class="btn btn-dark mt-3 px-5"
                >Submit</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                  <a href="/register" class="link-danger">Register</a></p>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"
      >
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2024. All rights reserved.
        </div>
        <!-- Copyright -->
      </div>
    </section>

    {{!-- <div class="container d-flex justify-content-center">
      <div class="w-50">
        {{#if messages.error}}
          <div class="alert alert-danger" role="alert">
            {{messages.error}}
          </div>
        {{/if}}
        {{#if messages.success}}
          <div class="alert alert-success" role="alert">
            {{messages.success}}
          </div>
        {{/if}}
        <h3 class="text-center mt-5">LOGIN</h3>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
            />
          </div>
          <button type="submit" class="btn btn-dark mt-3 px-5">Submit</button>
        </form>
      </div>
    </div> --}}

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/vendor/holder.min.js"></script>
    <script
      src="https://kit.fontawesome.com/66aa7c98b3.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="assets/js/script.js"></script>
  </body>

</html>